{% extends 'covidapp/base.html' %}

{% block content %} 
<br>
<div class="container">
  <p style="color: rgba(255, 255, 224, 0.767);font-weight: bold;mar">Hover the marker for corona data in that country:</p><br>
    <div id="map"></div>
</div>
{% endblock content %}

{% block style %} 
<style>
    * {
      margin: 0;
    }

    

    #map {
      width: 100%;
      height: 70%;
    }

   
  </style>
{% endblock style %}

{% block script %} 
<script>
    const coordinates = {
      Latitude:[ 
        {% for x in country_data %}
        '{{x.coordinates.latitude}}', 
        {% endfor %}
      ],
      Longitude: [
        {% for x in country_data %}
        '{{x.coordinates.longitude}}', 
        {% endfor %}
      ],
      name:[
          {% for x in country_data %}
          '{{x.name}}',
          {% endfor %}
      ],
      Cases:[
          {% for x in country_data %}
          '{{x.latest_data.confirmed}}',
          {% endfor %}
      ],
      Deaths:[
          {% for x in country_data %}
          '{{x.latest_data.deaths}}',
          {% endfor %}
      ],
      Recovered:[
          {% for x in country_data %}
          '{{x.latest_data.recovered}}',
          {% endfor %}
      ]
    };
    console.log(coordinates)

    var myIcon = L.icon({
    iconUrl: 'https://img.icons8.com/nolan/64/street-view.png',
    iconSize: [30, 40],

});
   


    const map = L.map('map').setView([20, 77], 3);

    
   
    var CartoDB_DarkMatter = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
	subdomains: 'abcd',
	maxZoom: 19
}).addTo(map);

    for (let i = 0; i < Object.keys(coordinates.Latitude).length; i =i+ 2) {
   
      const marker = L.marker([
        coordinates.Latitude[i],
        coordinates.Longitude[i],

      ],{icon : myIcon});
       
     

      marker.myData = { id: coordinates.name[i] ,cases:coordinates.Cases[i],deaths:coordinates.Deaths[i],recovered:coordinates.Recovered[i]};
      marker.bindPopup("<p >"+ marker.myData.id +"</p>"+"<p>"+ "Cases"+" : "+marker.myData.cases +"</p>"+"<p>"+"Deaths"+" : "+marker.myData.deaths +"</p>"+"<p>"+"Recovered"+" : "+marker.myData.recovered +"</p>");
      marker.on('mouseover',function(e){
        this.openPopup();
      });
      marker.on('mouseout',function(e){
        this.closePopup();
      });

      marker.addTo(map);
    }
  </script>

{% endblock script %} 
