{% extends 'covidapp/base.html' %}

{% block title %}
TraCOR - Information about Covid19
{% endblock title %}


{% block content %}
<div class='card' style="background-color:rgb(31, 31, 31);margin:12px;padding: 12px;">
    <strong style="letter-spacing: 1px;font-size: 12px;"><marquee onmouseover="stop()" onmouseout="start()">
     Boycott Chinese products. Support local indian businesses. #VocalForLocal
    </marquee>
    </strong>
  </div> 
<div class="container">
    <br>
   <h4 class="animated animatedFadeInUp fadeInUp" style="color: burlywood;text-align: center;animation-delay: 0.2s;font-weight: bold;">COVID19 Health Advisory</h4><br>
    <div class="row">
        <div class="col-12 col-md-6" style="margin-bottom:30px;">
            <h5  class="animated animatedFadeInUp fadeInUp" style="color: rgb(72, 255, 72);animation-delay: 0.3s;">Protect Yourself:</h5><br>
            <p class="animated animatedFadeInUp fadeInUp" style="animation-delay: 0.4s;">1. Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water. Why? Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on your hands.</p>
                <p  class="animated animatedFadeInUp fadeInUp" style="animation-delay: 0.5s;">2. Maintain at least 1 metre (3 feet) distance between yourself and others. Why? When someone coughs, sneezes, or speaks they spray small liquid droplets from their nose or mouth which may contain virus. If you are too close, you can breathe in the droplets, including the COVID-19 virus if the person has the disease.</p>
                <p class="animated animatedFadeInUp fadeInUp" style="animation-delay: 0.6s;">3. Avoid going to crowded places. Why? Where people come together in crowds, you are more likely to come into close contact with someone that has COIVD-19 and it is more difficult to maintain physical distance of 1 metre (3 feet).</p>
               <p class="animated animatedFadeInUp fadeInUp" style="animation-delay: 0.7s;">4. Avoid touching eyes, nose and mouth. Why? Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to your eyes, nose or mouth. From there, the virus can enter your body and infect you.</p>
               <p class="animated animatedFadeInUp fadeInUp" style="animation-delay: 0.8s;">5.Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue immediately and wash your hands. Why? Droplets spread virus. By following good respiratory hygiene, you protect the people around you from viruses such as cold, flu and COVID-19.</p>
               <p class="animated animatedFadeInUp fadeInUp" style="animation-delay: 0.9s;">6. Stay home and self-isolate even with minor symptoms such as cough, headache, mild fever, until you recover. Have someone bring you supplies. If you need to leave your house, wear a mask to avoid infecting others. Why? Avoiding contact with others will protect them from possible COVID-19 and other viruses.</p>
        </div>
        <div class="col-12 col-md-6">
            <h5 class="animated animatedFadeInUp fadeInUp" style="color: rgb(255, 55, 55);style="animation-delay: 1s;"">Safe use of sanitizers:</h5><br>
            
<p class="animated animatedFadeInUp fadeInUp" style="animation-delay: 1.1s;">1. Keep alcohol-based hand sanitizers out of children’s reach. Teach them how to apply the sanitizer and monitor its use.</p>
<p class="animated animatedFadeInUp fadeInUp" style="animation-delay: 1.2s;">2. Apply a coin-sized amount on your hands. There is no need to use a large amount of the product.</p>
<p class="animated animatedFadeInUp fadeInUp" style="animation-delay: 1.3s;">3. Avoid touching your eyes, mouth and nose immediately after using an alcohol-based hand sanitizer, as it can cause irritation.</p>
<p class="animated animatedFadeInUp fadeInUp" style="animation-delay: 1.4s;">4. Hand sanitizers recommended to protect against COVID-19 are alcohol-based and therefore can be flammable. Do not use before handling fire or cooking.</p>
<p class="animated animatedFadeInUp fadeInUp" style="animation-delay: 1.5s;">5. Under no circumstance, drink or let children swallow an alcohol-based hand sanitizer. It can be poisonous. </p>
<p class="animated animatedFadeInUp fadeInUp" style="animation-delay: 1.6s;">6. Remember that washing your hands with soap and water is also effective against COVID-19.</p>

        </div>
    </div>
</div>
{% endblock content %}